body{
    background-image: url(https://images.photowall.com/products/59504/mountain-view-1.jpg?h=699&q=85);
    background-repeat: no-repeat;
    background-size: 100%;
}


h1{
    text-align: center;
    text-transform: capitalize;
    color: rgb(105, 42, 42);
    text-shadow: rgb(75, 70, 70) 2px 1px ;
}
p{
    text-align: center;

}

.name{
    display: flex;
}
.name label{

}
.name input{
    width: 30%;
}
.email {
    margin: top: 0%%;
}

.user-form{
    background-color: rgb(147, 177, 177);
    padding: 3%;
    margin: 5%;
}